build
dist
/media
node_modules
.DS_Store
.env
.next
.vercel

.env*
.flaskenv*
!.env.project
!.env.vault


.yarn/*
.yarn/install-state.gz
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions